/* New homepage
███    ██ ███████ ██     ██     ██   ██  ██████  ███    ███ ███████ ██████   █████   ██████  ███████ 
████   ██ ██      ██     ██     ██   ██ ██    ██ ████  ████ ██      ██   ██ ██   ██ ██       ██      
██ ██  ██ █████   ██  █  ██     ███████ ██    ██ ██ ████ ██ █████   ██████  ███████ ██   ███ █████   
██  ██ ██ ██      ██ ███ ██     ██   ██ ██    ██ ██  ██  ██ ██      ██      ██   ██ ██    ██ ██      
██   ████ ███████  ███ ███      ██   ██  ██████  ██      ██ ███████ ██      ██   ██  ██████  ███████ 
*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 14.76vw);
  grid-template-rows: repeat(6, 13.7vh);
  /*background-color: greenyellow;*/
  border: 10px solid lightgray;
  gap: 20px;
  padding: 4.5vh;
  max-height: 100vh;
  width: 100vw;
}

.work-horse {
  grid-column: 1 / 6;
  grid-row: 2 / 6;
  width: 23vw;
  padding-left: 23px;
  /*column-span: 2;*/
  border: 1px solid lightgray;
}

.about-icon {
  grid-column: 2 / 6;
  grid-row: 1 / 6;
  width: 17vw;
  padding-left: 141px;
  border: 1px solid lightgray;
}

.homepage-sword {
  grid-column: 2/ 6;
  grid-row: 2 / 6;
  height: 50vh;
  padding-left: 212px;
  padding-top: 40px;
  border: 1px solid lightgray;
  background-color: rgba(0, 255, 255, 0.313);
}

.homepage-contact-star {
  grid-column: 5 / 6;
  grid-row: 1 / 6;
  border: 1px solid lightgray;
}

.homepage-links-star {
  grid-column: 1 / 6;
  grid-row: 5 / 6;
  border: 1px solid lightgray;
  width: 15.68vw;
}

.homepage-water-butterfly {
  grid-column: 2 / 6;
  grid-row: 5 / 6;
  height: 57.6vh;
  border: 1px solid lightgray;
}

/*.grid-item {
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    aspect-ratio: 1 / 1; /* Optional: keep grid items square */
