/* 

███████  ██████  ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      
█████   ██    ██ ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██         ██ 
██       ██████  ██   ████    ██    ███████ 

*/

/* TODO: Delete the Google Fonts below and add the Google Fonts you want to use on your site. Each Google font that you load will slightly increase the download speed of your site so make sure to only included necessary fonts here. */

/* Host Grotesk Font (for headers or special text) */
@import url("@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap')");

/* Texturina Font (for small headers) */
@import url("https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap");

/* Cardo Font (for small headers) */
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");
/*

Imported stylesheets. Remove the ones you do not want to use.

██ ███    ███ ██████   ██████  ██████  ████████      ██████ ███████ ███████ 
██ ████  ████ ██   ██ ██    ██ ██   ██    ██        ██      ██      ██      
██ ██ ████ ██ ██████  ██    ██ ██████     ██        ██      ███████ ███████ 
██ ██  ██  ██ ██      ██    ██ ██   ██    ██        ██           ██      ██ 
██ ██      ██ ██       ██████  ██   ██    ██         ██████ ███████ ███████ 

*/

/* TODO: Delete any stylesheets that you do not want to use. */

@import url("make-something-fly.css");
@import url("text-stroke.css");
@import url("stroke-shadow.css");
@import url("experiments.css");
@import url("style-guide.css");
@import url("scroll-to-top.css");

/*

X-Small devices (portrait phones, less than 576px) 
No media query for `xs` since this is the default in Bootstrap 

███    ███  ██████  ██████  ██ ██      ███████     ███████ ██ ██████  ███████ ████████ 
████  ████ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██ ██         ██    
██ ████ ██ ██    ██ ██████  ██ ██      █████       █████   ██ ██████  ███████    ██    
██  ██  ██ ██    ██ ██   ██ ██ ██      ██          ██      ██ ██   ██      ██    ██    
██      ██  ██████  ██████  ██ ███████ ███████     ██      ██ ██   ██ ███████    ██    
                                                                                       
*/

/* Add Border Box and Smooth Scroll */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("../assets/temp/up-cursor.png"), auto !important;
  /* TODO: Change the url above to add a custom cursor. Delete the line above if you want to use the default browser cursor. */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Use variable for to easily change your theme's colour scheme and typography.

██    ██  █████  ██████  ██  █████  ██████  ██      ███████ ███████ 
██    ██ ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██      ██      
██    ██ ███████ ██████  ██ ███████ ██████  ██      █████   ███████ 
 ██  ██  ██   ██ ██   ██ ██ ██   ██ ██   ██ ██      ██           ██ 
  ████   ██   ██ ██   ██ ██ ██   ██ ██████  ███████ ███████ ███████ 
                                                                    
*/

/* Design variables refer to CSS variables that store specific design elements, such as colors and typography, which can be utilized throughout a website. Instead of individually modifying each CSS element, designers can quickly make changes by using design variables.

/* TODO: Adjust the variables below, create new variables as desired, and delete the variables that you do not want to use. */

:root {
  --body-typeface: "Texturina", serif;
  --heading-typeface: "Host Grotesk", sans-serif;
  --paragraph-typeface: "Cardo", serif;
  --project-title-typeface: "Host Grotesk", sans-serif;
  --background-color: #e9d2ce;
  --background-color-about: #e9d2ce;
  --background-color-footer: #e9d2ce;
  --alt-background-color: #ffffff;
  --background-color-holding-page: #fcf463;
  --h1-color: #131313;
  --h2-color: #131313;
  --h3-color: #131313;
  --h4-color: #131313;
  --h5-color: #131313;
  --h6-color: #131313;
  --primary-text-color: #171717;
  --holding-page-title-color: #ffffff;
  --accent-color: #a9d8b9;
  --overlay-color: #171717;
  --overlay-title-color: #a9d8b9;
  --overlay-description-color: #ffffff;
  --hyperlink-color: #171717;
  --hyperlink-alternate-color: orangered;
  --hover-color: #ff057c;
  --visited-color: #171717;
  --project-title-color: #171717;
  --project-sidebar-background-color: #ffffff;
  --project-sidebar-text-color: #171717;
  --heart-color: #ff057c;
  --holding-page-footer-color: #ffffff;
  --text-selection-background-color: #ff057c;
  --stroke-shadow-color: rgba(0, 0, 0, 0.4);
}

body {
  font-family: var(--body-typeface);
  color: var(--primary-text-color);
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* The ::selection CSS pseudo-element applies styles to the part of a document that has been highlighted by the user (such as clicking and dragging the mouse across text). */

::selection {
  background: var(--accent-color);
}

/* Make all images responsive */
img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  /* Removes the gap/space in inline elements for text descenders. */
  object-fit: contain;
  /* This is optional. Also try cover or leave out entirely. */
}

/* Global & Mobile Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

h1 {
  font-family: var(--heading-typeface);
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 115%; /* 2.15625rem */
  letter-spacing: 0.0375rem;
  text-transform: uppercase;
  color: var(--h1-color);
}

h2 {
  font-family: var(--heading-typeface);
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.725rem */
  text-transform: uppercase;
  color: var(--h2-color);
}

h3 {
  font-family: var(--heading-typeface);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 1.5rem */
  text-transform: uppercase;
  color: var(--h3-color);
}

h4 {
  font-family: var(--heading-typeface);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.5rem */
  text-transform: uppercase;
  color: var(--h4-color);
}

h5 {
  font-family: var(--body-typeface);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.7rem; /* 136% */
  color: var(--h5-color);
}

h6 {
  font-family: var(--body-typeface);
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: 130%; /* 1.3rem */
  color: var(--h6-color);
}

p {
  font-family: var(--paragraph-typeface);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.4rem */
}

em {
  font-style: italic;
}

.fineprint {
  font-size: 0.875rem;
  color: #171717;
  min-width: 100ch;
}

.hero-headline {
  color: var(--overlay-color);
}

.project-title {
  font-size: 3rem;
  font-family: var(--project-title-typeface);
  color: var(--project-title-color);
  margin-bottom: 1rem;
}

.overlay-title {
  font-size: 2.875rem;
  color: var(--overlay-title-color);
}

.overlay-description {
  color: var(--overlay-description-color);
}

/* Hyperlink Styles */

a:link {
  color: var(--hyperlink-color);
  text-decoration: none;
}

a:visited {
  color: var(--visited-color);
}

a:hover {
  color: var(--hover-color);
}

a:focus {
  outline: 1px solid var(--accent-color);
}

a:active {
  color: var(--hover-color);
  /* Tap on mobile */
}

.navigation-arrow {
  color: var(--alt-background-color);
}

.navigation-arrow:link {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
  color: transparent;
}

.navigation-arrow:active,
.navigation-arrow:hover {
  color: var(--accent-color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent-color);
}

.colored-link {
  color: var(--hyperlink-alternate-color);
}

.custom-navigation:hover {
  background: url(assets/temp/heading-background.svg);
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: center center;
  color: #ff057c;
}

.heart {
  color: var(--heart-color);
}

.footer-nav-list {
  margin-bottom: 1rem;
}
.footer-nav-item {
  line-height: 1.3;
  font-family: var(--heading-typeface);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6875rem; /* 112.5% */
  text-transform: uppercase;
  color: var(--h4-color);
}

.award-item {
  line-height: 1.3;
}

.social-item {
  line-height: 1.3;
  font-size: 2.5rem;
  padding-right: 1rem;
}

.socials-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.list-item {
  line-height: 1.3;
  list-style-type: disc;
  margin-left: 1.2rem;
}

.project-description {
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

/*

██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
                                 
*/

.hero {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.hero-gradient-animation {
  display: flex;
  flex-direction: column;
}

.hero-header {
  /*margin-bottom: 2rem;*/
  padding: 1.5rem;
  display: flex;
  /*flex-direction: row;*/
  background: rgba(255, 255, 0, 0.754);
  /* height: 9rem; */
  align-items: center;
  justify-content: space-evenly;
}

.project-hero-header {
  /*margin-bottom: 2rem;*/
  padding: 1rem;
  /*display: flex;
 flex-direction: row;*/
  background: coral;
  /* height: 9rem; */
  align-items: center;
  justify-content: space-evenly;
}

.index-logo {
  background-color: greenyellow;
  margin-bottom: 2rem;
}

.project-header-logo {
  background-color: lightcyan;
  /* margin-bottom: 2rem; */
}

.branding-navigation {
  display: flex;
  justify-content: space-between;
  /*padding: 1rem;*/
  /* gap: 15rem; */
  align-items: flex-start;
  background-color: #297913;
  width: 100%;
}

.project-branding-navigation {
  display: flex;
  justify-content: space-between;
  /*padding: 1rem;*/
  /* gap: 15rem; */
  align-items: flex-start;
  background-color: lemonchiffon;
  width: 70%;
}

.header-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
  align-items: center;
  background-color: pink;
}

.project-header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  /* align-items: center; */
  background-color: pink;
}

.logo {
  width: 5rem;
  /* TODO: Adjust the width of the logo on mobile devices here. */
}

.wordmark {
  fill: #171717;
  transition: 200ms;
  transition-timing-function: ease-in-out;
}

.wordmark:hover {
  fill: #fa007e;
}

.hero-headline-wrapper {
  /*display: flex;
  flex-direction: row;
  width: 100%;*/
  height: 60vh;
  background: url(../assets/index/Hero_Coming_Soon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero-content {
  background-color: #ffc35590;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 50%;
}

.hero-image {
  object-fit: cover;
  background-color: rgba(0, 0, 255, 0.435);
}

.hero-icon {
  font-size: 4rem;
}

.hero-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero-footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-divider {
  border: none; /* Remove default border */
  height: 2px; /* Set the thickness */
  background-color: #0680f7; /* Set the color */
  /* Add some spacing above and below */
}
/* Work Page Layout

██     ██  ██████  ██████  ██   ██     ██████   █████   ██████  ███████ 
██     ██ ██    ██ ██   ██ ██  ██      ██   ██ ██   ██ ██       ██      
██  █  ██ ██    ██ ██████  █████       ██████  ███████ ██   ███ █████   
██ ███ ██ ██    ██ ██   ██ ██  ██      ██      ██   ██ ██    ██ ██      
 ███ ███   ██████  ██   ██ ██   ██     ██      ██   ██  ██████  ███████ 

*/

.work-page {
  display: flex;
  flex-direction: column;
}

.work-wrapper {
  flex: 1;
}

.work-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: red;
  min-height: 6rem;
  padding: 1.5rem;
}
.work-title {
  width: 80%;
  background: lemonchiffon;
  margin: 0 auto;
}
/* Padding around work grid and project page */
.portfolio,
.project-wrapper {
  /* padding: 5.31rem 5rem; */
  /* background-color: yellow; */
}

/* Defining the work page grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1rem;
  /* margin-top: 1rem;
  margin-bottom: 2rem; */
  /* Magical, media-query-less responsiveness is achieved using the repeat() function and the auto placement keywords. To achieve wrapping, we can use the auto-fit. If you're using auto-fit, the content will stretch to fill the entire row width.  Specify a minimum width for the columns, using the minmax() function. The 1fr is what tells the browser to distribute the space between the columns so that each column equally gets one fraction of that space.  */
}

.work-page-grid-item {
  width: 100%;
  height: auto;
  position: relative;
  justify-self: center;
  /* Required to contain overlay size */
}

.work-layout {
  padding-top: 1rem;
  background-color: aqua;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.75s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  background-color: var(--overlay-color);
  transition: opacity 0.3s, visibility 0.3s;
}

.work-page-grid-item:hover .overlay {
  visibility: visible;
  opacity: 0.8;
}

/* 

 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
                                           
*/

.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  background: var(--background-color-about);
  padding: 1rem;
  flex: 1;
}

.about-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.about-item-2 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.about-item-3 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.about-item-4 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

/* Global Footer

███████  ██████   ██████  ████████ ███████ ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
█████   ██    ██ ██    ██    ██    █████   ██████  
██      ██    ██ ██    ██    ██    ██      ██   ██ 
██       ██████   ██████     ██    ███████ ██   ██ 
                                                   
*/

.global-footer {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  /* grid-gap: 3rem;*/
  min-height: 30vh;
  min-width: 30vh;
  background: var(--background-color-footer);
  padding: 1rem;
  background: violet;
  /* padding-bottom: 8rem; */
}

.footer-item-1 {
  grid-column: 1 / 1;
  grid-row: 1/4;
  background-color: beige;
  /* height: 25%; */
}

.footer-item-2 {
  grid-column: 1 / 1;
  grid-row: 2/4;
  background-color: lime;
  /* height: 25%; */
}

.footer-item-3 {
  grid-column: 1/1;
  grid-row: 3/4;
  background-color: royalblue;
  /* height: 25%; */
}

.footer-item-4 {
  grid-column: 1/1;
  grid-row: 4/4;
  background-color: orange;
  /* height: 25%; */
}

/* Project Page 

██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██      
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ 
                                                                                               
*/

.project-1 {
  display: flex;
  flex-direction: column;
}
.index-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5rem;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5rem;
  background-color: mediumseagreen;
}

/* Sidebar */
.project-aside {
  /* width: 100vw; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: var(--project-sidebar-text-color);
  /* background: var(--project-sidebar-background-color); */
  background-color: gold;
}

.project-info {
  background-color: mistyrose;
}

.project-navigation {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
}

.arrow {
  padding: 0;
}

.project-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-image {
  /* width: 100vw; */
  /* min-height: 50vh; */
  /* TODO: Delete min-height if you want to remove space between project images on project pages on mobile devices. It is used for the demo page only. */
  display: flex;
  align-items: center;
  justify-content: center;
}

.large-emoji-placeholder {
  font-size: 12rem;
  /* TODO: Delete this rule. It is only used for making the placeholder emojis large for demo purposes only. */
}

.text-section {
  width: 100%;
}

.project-text {
  width: 100%;
  font-size: 3.25rem;
  padding: 3rem;
}

/* Main Project Image Area */

.project-details {
  width: inherit;
  padding: 1rem;
  /* TODO: Delete background-image and the three linear gradient colors to remove the gradient background on the project page. Be careful not to delete the closing } */
  /* background-image: linear-gradient(
    -225deg,
    var(--linear-gradient-color-1) 0%,
    var(--linear-gradient-color-2) 50%,
    var(--linear-gradient-color-3) 100%
  ); */
}

/* 

██   ██  ██████  ██      ██████  ██ ███    ██  ██████  
██   ██ ██    ██ ██      ██   ██ ██ ████   ██ ██       
███████ ██    ██ ██      ██   ██ ██ ██ ██  ██ ██   ███ 
██   ██ ██    ██ ██      ██   ██ ██ ██  ██ ██ ██    ██ 
██   ██  ██████  ███████ ██████  ██ ██   ████  ██████  
                                                       
*/

.holding-page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  place-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.holding-page-animation {
  margin-bottom: 1rem;
}

.holding-page-title {
  font-size: 1.5rem;
  color: var(--holding-page-title-color);
}

.holding-page-footer {
  display: grid;
  place-items: center;
  min-height: 10vh;
  width: 100%;
}

.holding-page-copyright {
  font-size: 0.8rem;
  color: var(--holding-page-footer-color);
  margin-bottom: 0;
}

/*
███████ ██████  ██████   ██████  ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
█████   ██████  ██████  ██    ██ ██████  
██      ██   ██ ██   ██ ██    ██ ██   ██ 
███████ ██   ██ ██   ██  ██████  ██   ██ 
*/

/* TODO: Customize your 404 Error Page */

/* The best 404 pages have become an art in themselves. Your 404 error page is an opportunity to make a memorable impression on your visitors when they don’t land exactly where they hoped. */

/*

██████  ██       █████  ██    ██ 
██   ██ ██      ██   ██  ██  ██  
██████  ██      ███████   ████   
██      ██      ██   ██    ██    
██      ███████ ██   ██    ██    
*/

.play-page {
  display: grid;
  place-items: center;
}

.play-page-inner-container {
  text-align: center;
}

.play-page-title {
  color: var(--accent-color);
}

/*

███████ ██   ██ ███████ ████████  ██████ ██   ██ ██████   ██████   ██████  ██   ██ 
██      ██  ██  ██         ██    ██      ██   ██ ██   ██ ██    ██ ██    ██ ██  ██  
███████ █████   █████      ██    ██      ███████ ██████  ██    ██ ██    ██ █████   
     ██ ██  ██  ██         ██    ██      ██   ██ ██   ██ ██    ██ ██    ██ ██  ██  
███████ ██   ██ ███████    ██     ██████ ██   ██ ██████   ██████   ██████  ██   ██ 

*/

.sketchbook-page {
  display: grid;
  place-items: center;
}

.sketchbook-page-inner-container {
  text-align: center;
}

.sketchbook-page-title {
  color: var(--accent-color);
}

/*

███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 

*/

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  /* TODO: Add styles here for medium devices. */
  .holding-page-title {
    font-size: 2rem;
  }

  h1 {
    font-size: 2.75rem;
    font-weight: 800;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1.75rem;
    line-height: 1.75rem;
    font-weight: 300;
  }

  p {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .logo {
    width: 4rem;
    /* TODO: Adjust the width of the logo on large devices here. */
  }

  .hero {
    min-height: 80vh;
    /*padding: 1rem;*/
  }
  .hero-header {
    /*margin-bottom: 2rem;*/
    padding: 1.5rem;
    /*display: flex;
    flex-direction: column;*/
    background: rgba(255, 0, 212, 0.754);
    height: 9rem;
    align-items: center;
    justify-content: space-evenly;
  }
  /*.hero-headline-wrapper {
   padding: 4rem 4rem;
  }*/

  .project-hero-header {
    /*margin-bottom: 2rem;*/
    padding: 2rem;
  }

  .project-custom-navigation{
    font-size: 8rem;
  }

  .project-branding-navigation {
    width: 85%;

  .work-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: red;
    min-height: 6rem;
    padding: 1.5rem;
  }
  .work-title {
    width: 90%;
    background: lemonchiffon;
    margin: 0 auto;
  }

  .index-logo {
    margin-bottom: 0rem;
  }
  .branding-navigation {
    display: flex;
    justify-content: space-between;
    /*padding: 1rem;*/
    /* gap: 15rem; */
    align-items: flex-start;
    background-color: #297913;
    width: 60%;
  }

  .header-buttons {
    flex-direction: row;
    width: 90%;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(26.75rem, 1fr));
    grid-gap: 1.5rem;
  }

  /* Grayscale filter with full-colour on hover and tap */
  .work-page-grid-item a.grayscale img {
    filter: grayscale(100);
  }

  .work-page-grid-item > a.grayscale:active img,
  .work-page-grid-item > a.grayscale:hover img {
    filter: grayscale(0);
  }

  .about {
    padding: 1rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .global-footer {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    min-height: 30vh;
    /* padding-bottom: 8rem; */
  }

  .about-item-1 {
    grid-row: 1 / 2;
    grid-column: 1/2;
  }

  .footer-item-1 {
    grid-row: 1 / 2;
    grid-column: 1/2;
  }

  .about-item-2 {
    grid-row: 1 / 2;
    grid-column: 2/2;
  }

  .about-image {
    width: 400px;
  }

  .footer-item-2 {
    grid-row: 2/2;
    grid-column: 1/2;
  }

  .about-item-3 {
    grid-row: 1 / 2;
    grid-column: 1 / span 2;
  }

  .footer-item-3 {
    grid-row: 1 / 2;
    grid-column: 2/2;
  }

  .about-item-4 {
    grid-row: 3 / 3;
    grid-column: 1 / 4;
    text-align: center;
    align-self: start;
  }

  .footer-item-4 {
    grid-row: 2/ 2;
    grid-column: 2/2;
    text-align: center;
    align-self: start;
  }

  /* Padding around work grid and project page */
  /*.portfolio,
  .index-wrapper {
    padding: 5.31rem 5rem;  } */

  /* Project Page Flex Direction on Large Devices */
  .index-wrapper {
    flex-direction: row;
    /* padding: 5.31rem 5rem; */
  }

  /* Sidebar on Large Devices */
  .project-aside {
    width: 35%;
    height: 65vh;
    position: -webkit-sticky;
    position: sticky;
    top: 5vh;
    padding-right: 2rem;
  }

  /* Main Project Image Area on Large Devices */
  .project-details {
    width: 65%;
  }

  .project-image {
    min-height: 70vh;
    /* TODO: Delete min-height if you want to remove space between project images on project pages on large devices. It is used for the demo page only. */
  }

  .project-image-container {
    flex-direction: row;
  }

  .project-navigation {
    justify-content: flex-start;
  }

  .arrow {
    padding-right: 1rem;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  /* TODO: Add or adjust styles here for large devices. */

  .holding-page-title {
    font-size: 2rem;
  }

  h1 {
    font-size: 4rem;
    font-weight: 800;
  }

  h2 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 300;
  }

  .logo {
    width: 5rem;
    /* TODO: Adjust the width of the logo on large devices here. */
  }

  .hero {
    min-height: 100vh;
    padding: 1rem;
  }

  .hero-headline-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 255, 255, 0.427);
  }

  .hero-header {
    /*margin-bottom: 2rem;*/
    padding: 1.5rem;
    /*display: flex;
   flex-direction: row;*/
    background: rgba(255, 255, 0, 0.754);
    /* height: 9rem; */
    align-items: center;
    justify-content: space-evenly;
  }

  .header-buttons {
    flex-direction: row;
    width: 95%;
  }

  .work-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: red;
    min-height: 6rem;
    padding: 1.5rem;
  }
  .work-title {
    width: 95%;
    background: lemonchiffon;
    margin: 0 auto;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(26.75rem, 1fr));
    grid-gap: 1.5rem;
  }

  /* Grayscale filter with full-colour on hover and tap */
  .work-page-grid-item a.grayscale img {
    filter: grayscale(100);
  }

  .work-page-grid-item > a.grayscale:active img,
  .work-page-grid-item > a.grayscale:hover img {
    filter: grayscale(0);
  }

  .about {
    /* padding: 4rem; */
    grid-template-columns: 1fr 1fr;
  }
  .about-image {
    width: 600px;
  }
  .global-footer {
    /* padding: 4rem 4rem 0 4rem; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 15vh;
    /* padding-bottom: 8rem; */
  }

  .about-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .footer-item-1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .about-item-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .footer-item-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
  }

  .about-item-3 {
    grid-row: 1/ 2;
    grid-column: 2/2;
  }

  .footer-item-3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  .about-item-4 {
    grid-row: 1 / 2;
    grid-column: 1 / span 2;
    text-align: center;
    align-self: start;
    justify-items: center;
    margin-top: 3rem;
  }

  .footer-item-4 {
    grid-row: 1 / 2;
    grid-column: 4/ 4;
    /* text-align: center;
    align-self: end;
    justify-items: center; */
  }

  /* Padding around work grid and project page */
  /* .portfolio,
  .index-wrapper {
    /* padding: 0.5rem; */
  /* padding: 5.31rem 5rem; */

  /* Project Page Flex Direction on Large Devices */
  .index-wrapper {
    flex-direction: row;
    margin: 2rem;
    /* padding: 5.31rem 5rem; */
  }

  /* Sidebar on Large Devices */
  .project-aside {
    width: 35%;
    height: 65vh;
    position: -webkit-sticky;
    position: sticky;
    top: 5vh;
    padding-right: 2rem;
  }

  /* Main Project Image Area on Large Devices */
  .project-details {
    width: 65%;
  }

  .project-image {
    min-height: 70vh;
    /* TODO: Delete min-height if you want to remove space between project images on project pages on large devices. It is used for the demo page only. */
  }

  .project-image-container {
    flex-direction: row;
  }

  .project-navigation {
    justify-content: flex-start;
  }

  .arrow {
    padding-right: 1rem;
  }
}

/* X-Large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
  /* TODO: Add styles here for X-large devices. */

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(26.75rem, 1fr));
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
  /* TODO: Add styles here for XX-large devices. */

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
